# Mask indicating which sensors are enabled in the system
sensorMask         0xF


# These definitions are for the parameters below:
# SENSOR X (Right) PARAMETERS
#    Type   : usigned integer
#    Allowed: {0, 1, 2, 3}
# sensorId           
#    Type : float
#    Range: [-180, 180]
# gatingAbsMaxAngle  
#    Type : float
#    Range: [0.0, inf)
# gatingMinRange     
#    Type : float
#    Range: [gatingMinRange, inf)
# gatingMaxRange     
#    Type : float
#    Range: [0.0, inf)
# gatingMinSnr      
#    Type : float
#    Range: [-180, 180]
# sensorOrientation  
#    Type : float
#    Range: [0.0, inf)
# sensorPosition_x   
#    Type : float
#    Range: [0.0, inf)
# sensorPosition_y  

# SENSOR 0 (Right) PARAMETERS
sensorId           0
gatingAbsMaxAngle  60
gatingMinRange     0.500000
gatingMaxRange     15.000000
gatingMinSnr       0
sensorOrientation  89.430000
sensorPosition_x   0.672000
sensorPosition_y   0.456000

# SENSOR 1 (Front) PARAMETERS
sensorId           1
gatingAbsMaxAngle  60
gatingMinRange     0.500000
gatingMaxRange     15.000000
gatingMinSnr       0
sensorOrientation  00.000000
sensorPosition_x   -0.440000
sensorPosition_y   2.220000

# SENSOR 2 (Left) PARAMETERS
sensorId           2
gatingAbsMaxAngle  60
gatingMinRange     0.500000
gatingMaxRange     15.000000
gatingMinSnr       0
sensorOrientation  -90.000000
sensorPosition_x   -1.382000
sensorPosition_y   0.460000

# SENSOR 3 (Back) PARAMETERS
sensorId           3
gatingAbsMaxAngle  60
gatingMinRange     0.500000
gatingMaxRange     15.000000
gatingMinSnr       0
sensorOrientation  -180.00
sensorPosition_x   -0.418000
sensorPosition_y   -2.543000
