
# location of OD conifg
tidl_od_config   /opt/vision_apps/test_data/psdkra/tidl_models/tidl_io_onnx_tiad_ssd_1.bin

# location of OD network
tidl_od_network  /opt/vision_apps/test_data/psdkra/tidl_models/tidl_net_onnx_tiad_ssd.bin

# location of PC conifg
tidl_pc_config   /opt/vision_apps/test_data/psdkra/tidl_models/tidl_io_onnx_tiad_jDepthModSegNet_1.bin

# location of PC network
tidl_pc_network  /opt/vision_apps/test_data/psdkra/tidl_models/tidl_net_onnx_tiad_jDepthModSegNet.bin

# location of AVP logo
tidl_avp_logo    /opt/vision_apps/test_data/psdkra/app_tidl_avp/ti_avp_logo.yuv

# location of AVP algos
tidl_avp_algos    /opt/vision_apps/test_data/psdkra/app_tidl_avp

# location of input files
input_file_path   /opt/vision_apps/test_data/psdkra/tidl_demo_images

# location of output files
output_file_path ./avp_out

# start frame Number
start_frame 1900

# number of frames
num_frames  400

# input size (width height)
in_size   1280 720

# input size given to DL network (width height)
dl_size   768 384

# vizualization threshold, PD VD
viz_th    0.9 0.9

# (0-15) low value will show everything, high value will prune
confidence_threshold_value = 7

# number of classes for each output tensor for visualization. For each output tensor, number of clases to be provided with spaces
# Semantic Segmentation, Motion
num_classes 5 2 255

# valid region for each output tensor for blending.
#It is top left valid (x,y) co-ordinate followed by bottom right valid (x,y) co-ordinate for all output tensors in sequence
valid_region 0 0 767 383 0 0 767 383 0 0 767 383

# Enable or disable output image writing. 1 Enables it , 0 disables it
en_out_img_write    0

# Input can be provided as either 0-RGB or 1-YUV (default)
ip_rgb_or_yuv       1

# Output can be provided as either 0-RGB or 1-YUV (default)
op_rgb_or_yuv       1

# If 1 - Enable display 0 - Disable display
display_option      1

# number of iterations to loop the inputs
num_iterations      1000000

# interactive input mode 1: yes, 0: no
is_interactive      1

# If 1 - Enable display 0 - Disable display
enable_psd          1

# If 1 - Enable display 0 - Disable display
enable_vd           1

# If 1 - Enable display 0 - Disable display
enable_sem_seg      1
