# location of input files
input_file_path   /opt/vision_apps/test_data/psdkra/app_sfm

# location of output files
output_file_path ./app_sfm_out

# location of input files
input_cam_proj_file   /opt/vision_apps/test_data/psdkra/app_sfm/cam_proj_CAM_FRONT.yml

# start frame Number
start_frame 6100

# number of frames
num_frames  280

# input size (width height)
input_size   1024 512

# Pyramid base size (width height)
pyramid_base_size   1024 512

# pyramid levels, valid range: 2..5
pyramid_levels    4

# enable display mode
display_option    1

# number of iterations
num_iterations    200

# enable interactive mode
is_interactive    1

# Maximum number of input feature points in a frame
maxNumTracks      20000

# Height of the image in use in pixel
keyPointStep      8

# dof flow confidence threshold
flowConfThr       103

# Minimum delay between successive frames
# value of 1000 inserts 1s delay max is 2000
delay_in_msecs    33


